@use "../../styles/partials/mixin.scss" as *;
@use "../../styles/partials/variables.scss" as *;
.playlist {
    background-color: $primary-color-black;
    color: $primary-color-white;
  }
  
  
  .playlist-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }
  